#main_display {
  display: flex;
  flex-direction: column;
}

#intro_text {
  text-align: center;
  vertical-align: middle;
  color: #b9c0cc;
  font-size: 30px;
}

#login_prompt {
  text-align: center;
}

#intro_text {
  margin-top: 20px;
  margin-bottom: 20px;
}
