#sidebar {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  flex-grow: 2 0 20%;
}

#sidebar_container {
  display: flex;
  flex-direction: column;
  flex-grow: 12;
  color: #b9c0cc;
  padding: 0px 10px 0px 7px;
}

#sidebar_divider {
  background-color: #4688f2;
  height: 100%;
  flex: 1 0 auto;
}

#all_music_button {
  padding: 10px 5px 10px 0px;
  border-bottom: 5px solid #4688f2;
  text-align: center;
}

.sidebar_selection {
  margin: 10px 5px 10px 0px;
  border-bottom: 2px solid #4688f2;
}
