/*
HEX-COLOURS:
BLUE: #4688f2
GREY: #b9c0cc
YELLOW: #f3ff54
*/

/*
----------------------MAIN APP-----------------------------------
*/

#root {
  height:100%;
}

#app_space {
  display: flex;
  flex-grow: 2;
}

#main_display {
  flex-grow: 9;
}

#parent {
  background-color: #262728;
  height: 100%;
  display: flex;
  flex-direction: column;
}
